//nie miałam czasu eby podzielić to na pliki :( 

body {
    display: grid;
    place-items: center;
    height: 100vh;
}
.main {
    width: 300px;
    height: 200px;

    box-shadow: 1px 1px 1px 1px;
    border-radius: 4px;
    padding: 20px;
    // display: flex;
    // place-items: center;
    // gap: 10px;
}

.pay form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: block;
    width: 400px;
    margin-bottom: 5px;
    color: rgb(94, 85, 85);
}

.form-input {
    width: 100%;
    padding: 5px;
    padding-right: 0;
    border: 1px solid rgb(94, 85, 85);
    border-radius: 4px;
    // color: rgb(94, 85, 85)
}

.form-group#credit-cards {
    position: relative;
    img {
        position: absolute;
        right: 0%;
        width: 35px;
        top: -26px
    }
    .visa {
        right: 40px;

    }
}

.card-another-info {
    .form-input {
        width: 47%;
        display: inline-block;
    }
}

#pay-now {
    button {
        display: block;
        width: 100%;
        color: white;
        background: rgb(30, 30, 108);
        font-size: 16px;
        border-radius: 4px;

    }
}